<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <app-sidebar></app-sidebar>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <app-top-nav></app-top-nav>
      <!-- Page content-->
      <div class="container-fluid">
          <h1 class="mt-4">Welcome to Administration fedeDrone Page</h1>
          <p>Aqui encontraras todas las herramientas para poder administrar tu web.</p>
          <p>
              En el menu superior tenes acceso a las <code>Redes Sociales</code>
              . Y podras visitar el sitio web publicado en: <code>fededrone.com</code>
          </p>
      </div>
  </div>
</div>