<div class="border-end bg-white collapse collapse-horizontal" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">fedeDrone Admin</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Presupuestos</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Imagenes</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Videos</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Servicios</a>
    </div>
</div>
